/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Inner;
	border-spacing-y: 1;
	border-spacing-x: 1;
	border-collapse: collapse;
	max-id: 1;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-Inner
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 1px 1px;
}

.TableStyle-Inner .Column-Column1
{
	
}

.TableStyle-Inner .HeadI-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadI-Column1- p
{
	
}

.TableStyle-Inner .HeadE-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .HeadE-Column1- p
{
	
}

.TableStyle-Inner .HeadF-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadF-Column1- p
{
	
}

.TableStyle-Inner .HeadH-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .HeadH-Column1- p
{
	
}

.TableStyle-Inner .HeadD-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadD-Column1- p
{
	
}

.TableStyle-Inner .HeadC-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadC-Column1- p
{
	
}

.TableStyle-Inner .HeadB-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .HeadB-Column1- p
{
	
}

.TableStyle-Inner .HeadA-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadA-Column1- p
{
	
}

.TableStyle-Inner .HeadG-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .HeadG-Column1- p
{
	
}

.TableStyle-Inner .FootI-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootI-Column1- p
{
	
}

.TableStyle-Inner .FootE-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .FootE-Column1- p
{
	
}

.TableStyle-Inner .FootF-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootF-Column1- p
{
	
}

.TableStyle-Inner .FootH-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .FootH-Column1- p
{
	
}

.TableStyle-Inner .FootD-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootD-Column1- p
{
	
}

.TableStyle-Inner .FootC-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootC-Column1- p
{
	
}

.TableStyle-Inner .FootB-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .FootB-Column1- p
{
	
}

.TableStyle-Inner .FootA-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootA-Column1- p
{
	
}

.TableStyle-Inner .FootG-Column1-
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Inner .FootG-Column1- p
{
	
}

.TableStyle-Inner .Body-Body1
{
	
}

.TableStyle-Inner .BodyI-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
}

.TableStyle-Inner .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyE-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyF-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Inner .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyH-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyD-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Inner .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyC-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
}

.TableStyle-Inner .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyB-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Inner .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyA-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
}

.TableStyle-Inner .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Inner .BodyG-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: normal;
}

.TableStyle-Inner .BodyG-Column1-Body1 p
{
	font-weight: normal;
}


